@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Lato');

html {
  background: linear-gradient(45deg, #fafafa, #fff);
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 4em;
  color: #212121;
}

h1 span {
  font-weight: lighter;
  color: #484848;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

p {
  font-family: 'Lato', sans-serif;
  width: 600px;
  max-width: 100%;
  margin: 48px auto;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}
.first-letter {
    font-size: 3em;
    line-height: 0;
    font-family: 'Cedarville Cursive', cursive;
    color: #c6c6c6;
}

.text-center {
    text-align: center;
}
